<div class="container">
    <h1>ADD BLOG</h1>
    <hr>
    <form method="post" name="addBlogForm">
      <div class="form-group">
        <label for="title">Blog Title</label>
        <input id="title" name="title" ng-model="blog.title" type="text" class="form-control" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="body">Blog Body</label>
        <textarea id="body" name="body" ng-model="blog.body" type="text" rows="10" class="form-control" placeholder="Body"></textarea>
      </div>
      <label for="blog-tags">Blog Tags</label>
      <div ng-dropdown-multiselect="" options="tags" selected-model="selectedTags" extra-settings="tagSettings"></div><br>
      <label for="blog-tags">Blog Tags</label>
      <div class="dropdown">
        <label for="users"> Select User </label>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{selectedUser.first_name}}
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu" >
                <li ng-repeat="user in users"><a ng-click="dropboxitemselected(user)">{{user.first_name}}</a></li>
            </ul>
        </div>
      </div>
      <button type="submit" class="btn btn-default" ng-click="addBlog()">Add Blog</button>
    </form>
</div>

