<div class="container">
   <h1>BLOG TAGS</h1>
   <hr>
    <a href="/#/blog-tags/add" class="btn btn-default">Create Blog Tag</a>
    <table class="table table-striped table-bordered table-responsive">
        <th class="short">Id</th>
        <th>Name</th>
        <th class="short">Edit</th>
        <th class="short">Delete</th>
        <tr ng-repeat="blogTag in blogTags">
            <td class="short">{{ blogTag.id }}</td>
            <td>{{ blogTag.name }}</td>
            <td class="short"><a href="/#/blog-tags/edit/{{ blogTag.id }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td class="short"><button class="btn btn-default btn-sm" type="submit" ng-click="deleteBlogTag(blogTag.id)"><span class="glyphicon glyphicon-trash"></button></td>
        </tr>
    </table>
</div>