<div class="container">
   <h1>Blog Tags</h1>
    <a href="/#/add-blog-tag" class="btn btn-default">Create Blog Tag</a>
    <table class="table table-stripped table-responsive">
        <th>Id</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <tr ng-repeat="blogTag in blogTags">
            <td>{{ blogTag.id }}</td>
            <td>{{ blogTag.name }}</td>
            <td><a href="/#/edit-blog-tag/{{ blogTag.id }}" class="btn btn-default">Edit</a></td>
            <td><button class="btn btn-default" type="submit" ng-click="deleteBlogTag()">Delete</button></td>
        </tr>
    </table>
</div>