<div class="container">
    <h1>EDIT IMAGE</h1>
    <hr>
    <form method="post" name="editImageForm">
      <div class="form-group">
        <label for="file_path">File Path</label>
        <input id="file_path" name="file_path" ng-model="image.file_path" type="text" class="form-control" placeholder="File Path">
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" name="title" ng-model="image.title" type="text" class="form-control" placeholder="Title">
      </div>
      <label for="image-tags">Image Tags</label>
      <div ng-dropdown-multiselect="" options="tags" selected-model="selectedTags" extra-settings="tagSettings"></div><br>
      <button type="submit" class="btn btn-default" ng-click="saveChanges(image)">Save Changes</button>
    </form>
</div>