<div class="container">
   <h1>IMAGE TAGS</h1>
   <hr>
    <a href="/#/image-tags/add" class="btn btn-default">Create Image Tag</a>
    <table class="table table-stripped table-responsive">
        <th>Id</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <tr ng-repeat="imageTag in imageTags">
            <td>{{ imageTag.id }}</td>
            <td>{{ imageTag.name }}</td>
            <td><a href="/#/image-tags/edit/{{ imageTag.id }}" class="btn btn-default">Edit</a></td>
            <td><button class="btn btn-default" type="submit" 
            ng-click="deleteImageTag(imageTag.id)">Delete</button></td>
        </tr>
    </table>
</div>