<div class="container">
   <h1>IMAGES</h1>
   <hr>
    <a href="/#/images/add" class="btn btn-default">Create Image</a>
    <table class="table table-striped table-bordered table-responsive">
        <th class="short">Id</th>
        <th>File Path</th>
        <th>Title</th>
		<th>Date Uploaded</th>
		<th>User</th>
		<th class="short">Edit</th>
        <th class="short">Delete</th>
        <tr ng-repeat="image in images">
            <td class="short">{{ image.id }}</td>
            <td>{{ image.file_path }}</td>
			<td>{{ image.title }}</td>
			<td>{{ image.upload_date }}</td>
			<td>{{ image.first_name }}</td>
            <td class="short"><a href="/#/images/edit/{{ image.id }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td class="short"><button class="btn btn-default btn-sm" type="submit" ng-click="deleteImage(image.id)"><span class="glyphicon glyphicon-trash"></span></button></td>
        </tr>
    </table>
</div>