<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
             <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class ="nav navbar-nav navbar-right">
                <li ng-class="{ active:isSelected('/')}">
                    <a href="#/">Home</a>
                </li>
                <li ng-class="{ active:isSelected('/blogs') }">
                    <a href="#/blogs">Blog</a>
                </li>
                <li ng-class="{ active:isSelected('/roles') }">
                    <a href="#/roles">Roles</a>
                </li>
                <li ng-class="{ active:isSelected('/users')}">
                    <a href="#/users">Users</a>
                </li>
                <li ng-class="{ active:isSelected('/images')}">
                    <a href="#/images">Images</a>
                </li>
                <li ng-class="{ active:isSelected('/image-tags')}">
                    <a href="#/image-tags">Image Tags</a>
                </li>
                <li ng-class="{ active:isSelected('/blog-tags')}">
                    <a href="#/blog-tags">Blog Tags</a>
                </li>
                </ul>
         
            </div>
        </div>
    </nav>
</header>