@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
h1 {
  font-weight: 600; }

h1, h2, h3, h4, h5, h6, p, button, li, td, th, a {
  font-family: "Lato", sans-serif; }

p {
  font-size: 16px; }

.table {
  margin-top: 20px; }

.table > tbody > tr > td {
  line-height: 30px;
  font-size: 16px; }

.short {
  width: 50px;
  text-align: center; }

.navbar-default {
  background-color: #000;
  border-radius: 0;
  border-width: 0px; }

.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  text-decoration: underline; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #555;
  color: #fff; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-weight: 600; }

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
